
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span style="margin: 0px 5px 5px 0px">
                        <a href="http://github.com/hammadasad">
                            <span class="icon-large icon-github"></span>
                        </a>
                    </span>
                    <span style="margin: 0px 5px 5px 0px">
                        <a href="http://twitter.com/asad_hammad">
                            <span class="icon-large icon-twitter"></span>
                        </a>
                    </span>
                    <p class="text-muted">{{ site.data.global.footer_text }}</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>
    

    </body>
</html>
